@import "~bootstrap/dist/css/bootstrap.min.css";

/* .card {
  margin: auto;
  background-color: white;
  width: 300px;
  height: 450px;
  display: inline-block;
  border-radius: 25px;
} */

/* .div2 {
  width: 100%;
  display: inline-block;
  height: 100px;
}

.div3 {
  width: 100%;
  display: inline-block;
  height: 250px;
}

.div4 {
  width: 100%;
  display: inline-block;
  height: 100px;
  border-radius: 0px 0px 25px 25px;
} */

/* .div2-2 {
  
  display: inline-block;
  height: 100px;
  width: 90px;
  margin-left: 20px;
} */

/* .div4-4 {
  background-color: blue;
  display: inline-block;
  height: 100px;
  width: 90px;
  margin-right: 20px;
} */

.card {
  height: 450px;
  width: 300px;
}

@import "~bootstrap/dist/css/bootstrap.min.css";
.heart h1 {
  content: "";
  font-size: 5rem;
}
.heart::before,
.heart::after {
  content: "\2665";
  font-size: 5rem;
}
.heart::before {
  position: absolute;
  left: 1.5rem;
}
.heart::after {
  right: 1.5rem;
  position: absolute;
  bottom: 1.5rem;
  transform: scale(1, -1);
}
.heart,
.diamonds {
  color: red;
}
.diamonds h1 {
  content: "";
  font-size: 5rem;
}
.diamonds::before,
.diamonds::after {
  content: "\2666";
  font-size: 5rem;
}
.diamonds::before {
  position: absolute;
  left: 1.5rem;
}
.diamonds::after {
  right: 1.5rem;
  position: absolute;
  bottom: 1.5rem;
  transform: scale(1, -1);
}

.spades h1 {
  content: "";
  font-size: 5rem;
}
.spades::before,
.spades::after {
  content: "\2660";
  font-size: 5rem;
}
.spades::before {
  position: absolute;
  left: 1.5rem;
}
.spades::after {
  right: 1.5rem;
  position: absolute;
  bottom: 1.5rem;
  transform: scale(1, -1);
}

.clubs h1 {
  content: "";
  font-size: 5rem;
}
.clubs::before,
.clubs::after {
  content: "\2663";
  font-size: 5rem;
}
.clubs::before {
  position: absolute;
  left: 1.5rem;
}
.clubs::after {
  right: 1.5rem;
  position: absolute;
  bottom: 1.5rem;
  transform: scale(1, -1);
}
